@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
body{
    background: rgb(31, 28, 28);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-family: 'Indie Flower', cursive;
}

input {
     height: 30px;
     font-size: 1em;
     padding-left: 5px;
     border-radius: 10px;
     border:none;
}

p {
    font-size: 25px;
    margin-top: 5px;
    font-weight: bolder;
}

label {
   margin-bottom: 10px;
   font-size: 1.5em;
}

img {
    width:80px;
}

button {
    margin-top:10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 15px;
    border: none;
    width: 150px;
}

button:hover {
    background-color: rgb(151, 137, 137);
}


#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
   background: silver;
   padding: 10%;
   border-radius: 15%;
   width: 95%;
   color: black;
}